/* ## Breadcrumbs
--------------------------------------------- */

.breadcrumb {
  background-color: $breadcrumbs--background-color;
  @include rem( font-size, $breadcrumbs--font-size );
  margin-bottom: 1px;
  padding: 12px 30px;
}