/* ### Content */

.content {
  float: right;
  width: $content--width;

   @include media( $breakpoint__screen-size--larger ) {
    width: $content--width-larger-screen;
  }

   @include media( $breakpoint__screen-size--large ) {
    width: $content--width-large-screen;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-both-sidebars--width;

     @include media( $breakpoint__screen-size--larger ) {
      width: $content-both-sidebars--width-larger-screen;
    }

     @include media( $breakpoint__screen-size--large ) {
      width: $content-both-sidebars--width-large-screen;
    }
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .full-width-content & {
    width: 100%;
  }
}
